.sidebar {
	width: 410px;
	background: #FFFFFF;
	position: absolute;
	z-index: 9;
	top: 190px;
	right: 96px;
	@media (max-width: 1900px){
		width: 21.579vw;
		top: 10vw;
		right: 5.053vw;
	}
	&__container {
		padding: 30px 25px 31px;
		@media (max-width: 1900px){
			padding: 1.579vw 1.316vw 1.632vw; 
		}
	}
	
		&__calendar {
			display: flex;
			&-wrapper {
				border-bottom: 1px solid #000000;
				padding-bottom: 40px;
				@media (max-width: 1900px){
					border-bottom: 0.053vw solid #000000;
					padding-bottom: 2.105vw;
				}
			}
			&:hover{
				.sidebar__calendar-img {
					background: #CFEDFF;
				}
			}
			&-img {
				min-width: 113px;
				min-height: 113px;
				margin-top: -20px;
				margin-right: 22px;
				border-radius: 50%;
				display: flex;
				justify-content: center;
				align-items: center;
				transition: all 0.3s ease 0s;
				@media (max-width: 1900px){
					min-width: 5.947vw;
					min-height: 5.947vw;
					margin-top: -1.053vw;
					margin-right: 1.158vw;
				}

				img {
					width: 3.526vw;
					height: 3.789vw;
				}
			}
		}
	
		&__title {
			font-family: 'Source Serif Pro';
			font-style: normal;
			font-weight: 700;
			font-size: 24px;
			line-height: 30px;
			color: #000000;
			text-transform: lowercase;
			@media (max-width: 1900px){
				font-size: 1.263vw;
				line-height: 1.579vw;
			}
		}
		
	
		&__link {
			font-family: 'Styrene A LC Web';
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 20px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			color: #000000;
			background: #E1F3FD;
			margin-top: 19px;
			padding: 9px 10px 9px 14px;
			text-transform: lowercase;
			transition: all 0.3s ease 0s;
			@media (max-width: 1900px){
				font-size: 0.842vw;
				line-height: 1.053vw;
				margin-top: 1vw;
				padding: 0.474vw 0.526vw 0.474vw 0.737vw;
			}
			&:hover{
				background: #CFEDFF;
			}
			.sidebar__link-icon {
				width: 35px;
				height: 35px;
				background: transparent;
				border: 1px solid #000000;
				border-radius: 50%;
				display: flex;
				justify-content: center;
				align-items: center;
				@media (max-width: 1900px){
					width: 1.842vw;
					height: 1.842vw;
					border: 0.053vw solid #000000;
					img {
						width: 0.789vw;
						height: 0.789vw;
					}
				}
			}
		}
		
		&__tel {
			margin-top: 40px;
			@media (max-width: 1900px){
				margin-top: 2.105vw;
			}
			&--link {}
		}
		&__email {
			margin-top: 40px;
			@media (max-width: 1900px){
				margin-top: 2.105vw;
			}
			&--link {}
		}
	
		&__maps {
			margin-top: 40px;
			@media (max-width: 1900px){
				margin-top: 2.105vw;
			}
			&--link {}
		}
}

