.datepicker--nav-title {
	font-family: 'Styrene A LC';
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 22px;
		/* identical to box height */
	
		display: flex;
		align-items: center;
	
		color: #000000;
}
.datepicker--days-names {
	.datepicker--day-name {
		color: #000000;

	}
}
.datepicker--cells-days {
	.datepicker--cell-day {
		transition: all 0.2s ease 0s;
		
		&:hover {
			background-color: #000000;
			color: #ffffff;
		}
	}
	.-current- {
		background-color: rgba($color: #000000, $alpha: 0.5);
		color: #ffffff!important;
	}
	.-range-from-.-selected- {
		background-color: #000000;
		&.-focus- {
			background-color: #000000;
		}
	}
	.-range-to-.-selected- {
		background-color: #000000;
		&.-focus- {
			background-color: #000000;
		}
	}
	.-in-range- {
		background-color: rgba($color: #000000, $alpha: 0.1)!important;
		&.-focus- {
			background-color: rgba($color: #000000, $alpha: 0.2) !important;
		}
	}
}
.autoreply {

		&__text {
			margin-top: 33px;
			font-family: 'Styrene A LC Web';
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 150%;
			color: #000000;
			@media (max-width: 1900px){
				margin-top: 1.737vw;
				font-size: 0.842vw;
			}
		}

		&__body {
			margin-top: 51px;
			display: flex;
			@media (max-width: 1900px){
				margin-top: 2.684vw;
			}
		}

			&__left {
				flex: 0 1 410px;
				@media (max-width: 1900px){
					flex: 0 1 21.579vw;
				}
			}

				&__item {
					select {
						cursor: pointer;
						appearance: none;
						width: 100%;
						height: 100%;
						font-family: 'Styrene A LC';
						font-style: normal;
						font-weight: 400;
						font-size: 18px;
						line-height: 22px;
						display: flex;
						align-items: center;
						@media (max-width: 1900px) {
							font-size: 0.947vw;
							line-height: 1.158vw;
						}
						color: rgba(0, 0, 0, 1);
						option {
							margin-top: 15px;
						}
					}
					label {
						input {
							&::placeholder {
								color: rgba(0, 0, 0, 1);
							}
						}
					}
					input {
						width: 100%;
						height: 100%;
						cursor: pointer;
						font-family: 'Styrene A LC';
						font-style: normal;
						font-weight: 400;
						font-size: 18px;
						line-height: 22px;
						display: flex;
						align-items: center;
				
						color: rgba(0, 0, 0, 1);
				
						@media (max-width: 1900px) {
							font-size: 0.947vw;
							line-height: 1.158vw;
						}
					}
					span {
						font-family: 'Styrene A LC';
						font-style: normal;
						font-weight: 400;
						font-size: 18px;
						line-height: 22px;
						display: flex;
						align-items: center;
					
						color: rgba(0, 0, 0, 1);
						@media (max-width: 1900px){
							font-size: 0.947vw;
							line-height: 1.158vw;
						}
					}
					&:not(:first-child) {
						margin-top: 30px;
						@media (max-width: 1900px){
							margin-top: 1.579vw;
						}
					}
					&--title {
						font-family: 'Styrene A LC';
						font-style: normal;
						font-weight: 400;
						font-size: 12px;
						line-height: 14px;
						display: flex;
						align-items: center;
						color: #000000;
						@media (max-width: 1900px){
							font-size: 0.632vw;
							line-height: 0.737vw;
						}
					}
					&--row {
						cursor: pointer;
						margin-top: 5px;
						padding: 10px 10px 10px 0;
						display: flex;
						justify-content: space-between;
						border-bottom: 2px solid #CFEDFF;
						&-arrow {
							img {
								width: 6px;
								height: 14px;
								@media (max-width: 1900px){
									width: 0.32vw;
									height: 0.74vw;
								}
							}
						}
						&-search {
							img {
								width: 14px;
								height: 14px;
								@media (max-width: 1900px){
									width: 0.74vw;
									height: 0.74vw;
								}
							}
						}
						@media (max-width: 1900px){
							margin-top: 0.263vw;
							padding: 0.526vw 0.526vw 0.526vw 0;
							border-bottom: 0.105vw solid #CFEDFF;
						}
					}
				}
	
			&__right {
				padding: 30px;
				border: 1px solid #EDEDED;
				flex: 1 1 auto;
				margin-left: 30px;
				@media (max-width: 1900px){
					padding: 1.579vw;
					margin-left: 1.579vw;
					border: 0.053vw solid #EDEDED;
				}
				textarea {
					width: 100%;
					height: 100%;
					font-family: 'Styrene A LC Web';
					font-style: normal;
					font-weight: 400;
					font-size: 18px;
					line-height: 144%;
					color: rgba(0, 0, 0, 0.5);
					@media (max-width: 1900px){
						font-size: 0.947vw;
					}
				}
			}
	
		&__footer {
			margin-top: 52px;
			margin-bottom: 99px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			@media (max-width: 1900px){
				margin-top: 2.737vw;
				margin-bottom: 5.211vw;
			}
		}
			&__empty {
				flex: 0 1 410px;
				@media (max-width: 1900px) {
					flex: 0 1 21.579vw;
				}
			}
			&__btns {
				flex: 1 1 auto;
				margin-left: 30px;
				display: flex;
				align-items: center;
				@media (max-width: 1900px){
					margin-left: 1.579vw;
				}
			}

				&__btn {
					cursor: pointer;
					width: 190px;
					height: 48px;
					display: flex;
					justify-content: center;
					align-items: center;
					font-family: 'Styrene A LC Web';
					font-style: normal;
					font-weight: 400;
					font-size: 18px;
					line-height: 144%;
					text-align: center;
					color: #000000;
					border: 1px solid #000000;
					transition: all 0.3s ease 0s;
					&:hover{
						opacity: 0.7;
					}
					@media (max-width: 1900px){
						width: 10vw;
						height: 2.526vw;
						font-size: 0.947vw;
					}
			
					&-copy {
						margin-left: 32px;
						color: rgba(0, 0, 0, 0.3);
						border: 1px solid rgba(0, 0, 0, 0.5);
						@media (max-width: 1900px){
							margin-left: 1.684vw;
						}
					}
				}
	
			&__reset {
				cursor: pointer;
				display: flex;
				align-items: center;
				transition: all 0.3s ease 0s;

				&:hover {
					opacity: 0.7;
				}
				img {
					width: 18px;
					height: 18px;
					@media (max-width: 1900px){
						width: 0.947vw;
						height: 0.947vw;
					}
				}
				span {
					display: block;
					margin-left: 9px;
					font-family: 'Styrene A LC Web';
					font-style: normal;
					font-weight: 400;
					font-size: 12px;
					line-height: 217%;
					text-align: center;
					color: #000000;
					@media (max-width: 1900px){
						margin-left: 0.474vw;
						font-size: 0.632vw;
					}
				}
			}
}

