.docs {
	&__title {}
	
		&__search {
			margin-top: 47px;
		}
	
		&__icon {}
	
		&__input {}
	
		&__text {
			margin-top: 46px;
			font-family: 'Styrene A LC Web';
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 24px;
			color: #000000;
		}

		&__subtitle {
			font-family: 'Styrene A LC Web';
			font-style: normal;
			font-weight: 700;
			font-size: 24px;
			line-height: 26px;
			color: #F04E00;
			&:nth-child(4){
				margin-top: 70px;
			}
			&:nth-child(6){
				margin-top: 80px;
			}
		}
	
		&__list {
			margin-top: 50px;
		}
	
		&__item {
			&:not(:first-child) {
				margin-top: 21px;
			}
		}
	
		&__link {
			font-family: 'Styrene A LC Web';
			font-style: normal;
			font-weight: 400;
			font-size: 18px;
			line-height: 26px;
			color: #000000;
			border-bottom: 2px solid #CFEDFF;
			padding-bottom: 5px;
			transition: all 0.3s ease 0s;
			&:hover{
				background-color: #CFEDFF;
			}
		}
}

