.offices {
	&__title {}
	
	&__btns {
		margin-top: 21px;
		display: flex;
		justify-content: space-between;
		@media (max-width: 1900px){
			margin-top: 1.105vw;
		}
	}
	
		&__btn {
			background: #FFFFFF;
			border: 1px solid #CFEDFF;
			height: 47px;
			display: flex;
			justify-content: center;
			align-items: center;
			font-family: 'Styrene A LC Web';
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 26px;
			color: #000000;
			position: relative;
			transition: all 0.3s ease 0s;
			@media (max-width: 1900px){
				font-size: 0.842vw;
				line-height: 1.368vw;
				height: 2.474vw;
				border: 0.053vw solid #CFEDFF;
			}
			&-map {
				width: 410px;
				@media (max-width: 1900px){
					width: 21.579vw;
				}
			}
			&-calendar {
				width: 300px;
				@media (max-width: 1900px){
					width: 15.789vw;
				}
			}
			&--arrow {
				position: absolute;
				top: 50%;
				right: 16px;
				width: 11px;
				height: 11px;
				transform: translate(0, -50%);
				background: url('../img/svg/arrow-btn.svg') 0 0 / 100% 100% no-repeat;
				@media (max-width: 1900px){
					right: 0.842vw;
					width: 0.579vw;
					height: 0.579vw;
				}
			}
			&.active {
				background: #CFEDFF;
				border: 1px solid #CFEDFF;
				color: #F04E00;
				@media (max-width: 1900px) {
						border: 0.053vw solid #CFEDFF;
					}
				.offices__btn--arrow {
					display: none;
				}
			}
			&:hover{
				background: #CFEDFF;
				border: 1px solid #CFEDFF;
				@media (max-width: 1900px){
					border: 0.053vw solid #CFEDFF;
				}
			}
		}
	
		&__info {
			&--item {
				width: 505px;
				max-width: 100%;
				@media (max-width: 1900px){
					width: 26.579vw;
				}
				a, span, p {
					font-family: 'Styrene A LC Web';
					font-style: normal;
					font-weight: 400;
					font-size: 16px;
					line-height: 26px;
					@media (max-width: 1900px){
						font-size: 0.842vw;
						line-height: 1.368vw;
					}
				}
				p {
					margin-top: 25px;
					@media (max-width: 1900px){
						margin-top: 1.368vw;
					}
				}
			
			}

			&--mosk {
				margin-top: 57px;
				@media (max-width: 1900px){
					margin-top: 3vw;
				}
			}
			
			&--pit {
				margin-top: 80px;
				@media (max-width: 1900px){
					margin-top: 4.211vw;
				}
			}

			&--city {
				color: #F04E00;
				display: block;
				margin-bottom: 25px;
				@media (max-width: 1900px){
					margin-bottom: 1.316vw;
				}
			}

			&--find {
				display: inline-block;
				margin-top: 27px;
				@media (max-width: 1900px){
					margin-top: 1.386vw;
				}
			}
			&--border {
				position: relative;
				&::after{
					content:'';
					position: absolute;
					bottom: -2px ;
					left: 0;
					width: 100%;
					height: 2px;
					background-color: #CFEDFF;
					@media (max-width: 1900px){
						bottom: -0.105vw;
						height: 0.105vw;
					}
				}
			}
		}
}

.offices-maps {
	&__img {
		height: 745px;
		margin: 37px -110px -103px;
		@media (max-width: 1900px){
			height: 39.211vw;
			margin: 1.947vw -5.789vw -5.421vw;
		}
		img {
			width: 100%;
			height: 100%;
		}
	}
}

.offices-calendar {
	&__body {
		margin-top: 75px;
		display: flex;
		@media (max-width: 1900px){
			margin-top: 3.947vw;
		}
	}
		&__left {
			max-width: 213px;
			@media (max-width: 1900px){
				max-width: 11.211vw;
			}
			.offices-calendar__checkbox1 {
				margin-top: 105px;
				@media (max-width: 1900px){
					margin-top: 5.526vw;
				}
			}
			.offices-calendar__checkbox2 {
				margin-top: 48px;
				@media (max-width: 1900px){
					margin-top: 2.526vw;
				}
			}
			.radiobuttons__item {
				font-size: 16px !important;
				line-height: 24px !important;
				@media (max-width: 1900px){
					font-size: 0.842vw !important;
					line-height: 1.263vw !important;
				}
			}
		}
			&__text {
				margin-top: 85px;
				font-family: 'Styrene A LC Web';
				font-style: normal;
				font-weight: 400;
				font-size: 14px;
				line-height: 20px;
				color: #000000;
				@media (max-width: 1900px){
					margin-top: 4.474vw;
					font-size: 0.737vw;
					line-height: 1.053vw;
				}
				span {
					color: #F04E00;
				}
			}
}



.select-offices {
	position: relative;
	width: 228px;
	height: 34px;
	@media (max-width: 1900px){
		width: 12vw;
		height: 1.789vw;
	}
	&[data-state="active"] {
		.select-offices--title {
			&::before {
				transform: translate(-4px, -50%) rotate(-45deg);
				@media (max-width: 1900px){
					transform: translate(-0.211vw, -50%) rotate(-45deg);
				}
			}

			&::after {
				transform: translate(4px, -50%) rotate(45deg);
				@media (max-width: 1900px){
					transform: translate(0.211vw, -50%) rotate(45deg);
				}
			}
		}

		.select-offices--content {
			opacity: 1;
		}

		.select-offices--label+.select-offices--input+.select-offices--label {
			max-height: 40px;
			@media (max-width: 1900px){
				max-height: 2.105vw;
			}
		}
	}


	&--title {
		display: flex;
		align-items: center;
		width: 100%;
		height: 100%;
		padding: 0 0 0 38px;
font-family: 'Styrene A LC Web';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	/* identical to box height, or 150% */


	/* black */

	color: #000000;
		cursor: pointer;
		@media (max-width: 1900px){
			font-size: 0.842vw;
			line-height: 1.263vw;
			padding: 0 0 0 2vw;
		}
		&::before,
		&::after {
			content: "";

			position: absolute;
			top: 50%;
			left: 3px;

			display: block;
			width: 10px;
			height: 1px;

			transition: all 0.3s ease-out;

			background-color: #333333;

			transform: translate(-4px, -50%) rotate(45deg);
			@media (max-width: 1900px){
				left: 0.158vw;
				width: 0.526vw;
				height: 0.053vw;
				transform: translate(-0.211vw, -50%) rotate(45deg);
			}
		}

		&::after {
			transform: translate(4px, -50%) rotate(-45deg);
			@media (max-width: 1900px){
				transform: translate(0.211vw, -50%) rotate(-45deg);
			}
		}

		span {
			display: inline-flex;
			align-items: center;
			height: 100%;
			border-bottom: 2px solid #CFEDFF;
			@media (max-width: 1900px){
				border-bottom: 0.105vw solid #CFEDFF;
			}
		}
	}

	&--content {
		position: absolute;
		top: 34px;
		left: 0px;

		display: flex;
		flex-direction: column;
		width: 100%;

		background: #CFEDFF;

		transition: all 0.3s ease-out;

		opacity: 0;
		z-index: 8;
		@media (max-width: 1900px){
			top: 1.789vw;
		}
	}

	&--input {
		display: none;

		&:checked+label {
			color: #000000;
		}

		&+label {
			color: rgba($color: #000000, $alpha: 0.4);
		}

		&:disabled+label {
			opacity: 0.6;
			pointer-events: none;
		}
	}

	&--label {
		display: flex;
		align-items: center;
		width: 100%;
		height: 34px;
		max-height: 0;
		padding: 0 0 0 38px;

		transition: all 0.2s ease-out;

		cursor: pointer;

		overflow: hidden;
		@media (max-width: 1900px){
			height: 1.789vw;
			padding: 0 0 0 2vw;
		}
	}
}