.main
	.main__container 
		.main__news 
			h1 новости и опросы
			h2 заголовок новости  
			p Текст сообщения. Рыба-текст. В особенности же новая модель организационной деятельности обеспечивает актуальность системы обучения кадров, насущным потребностям. Прежде всего, укрепление и развитие внутренней структуры способствует подготовке и реализации прогресса профессионального сообщества.
			h2 название опроса / сроки опроса в заголовке  
			p Текст сообщения. Рыба-текст. В особенности же новая модель организационной деятельности обеспечивает актуальность системы обучения кадров, насущным потребностям. Прежде всего, укрепление и развитие внутренней структуры способствует подготовке и реализации прогресса профессионального. Пройти опрос
		.main__massages 
			h1 сообщения
			div 
				span 24.05.2022
				span 11:35
			p Текст сообщения. Рыба-текст. В особенности же новая модель организационной деятельности обеспечивает актуальность системы обучения кадров, насущным потребностям. Прежде всего, укрепление и развитие внутренней структуры способствует подготовке и реализации прогресса профессионального сообщества.
			div 
				span 24.05.2022
				span 12:23
			p Текст сообщения. Рыба-текст. В особенности же новая модель организационной деятельности обеспечивает актуальность системы обучения кадров, насущным потребностям. Прежде всего, укрепление и развитие внутренней структуры способствует подготовке и реализации прогресса профессионального сообщества.
			div 
				span 24.05.2022
				span 17:32
			p Текст сообщения. Рыба-текст. В особенности же новая модель организационной деятельности обеспечивает актуальность системы обучения кадров, насущным потребностям. Прежде всего, укрепление и развитие внутренней структуры способствует подготовке и реализации прогресса профессионального сообщества.
			div 
				span 24.05.2022
				span 16:48
			p Текст сообщения. Рыба-текст. В особенности же новая модель организационной деятельности обеспечивает актуальность системы обучения кадров, насущным потребностям. Прежде всего, укрепление и развитие внутренней структуры способствует подготовке и реализации прогресса профессионального сообщества.
