* {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
a:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

a {
	color: inherit
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	background: #E1F3FD;
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	padding: 0;
	border: none;
	font: inherit;
	color: inherit;
	background-color: transparent;
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-size: inherit;
	font-weight: 400;
}

.wrapper {
	position: relative;
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	.page {
		flex: 1 1 auto;
		width: 100%;
		display: flex;
		.content {
			flex: 1 1 auto;
			min-height: 100%;
			display: flex;
			flex-direction: column;
			&__container {
				flex: 1 1 auto;
				background-color: #ffffff;
				margin: 190px 95px 0 30px;
				padding: 64px 110px 103px;
				@media (max-width: 1900px){
					margin: 10vw 5vw 0 1.579vw;
					padding: 3.368vw 5.789vw 5.421vw;
				}
			}
		}
	}
}
.general-title {
	font-family: 'Source Serif Pro';
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 40px;
	color: #000000;
	@media (max-width: 1900px){
		font-size: 1.684vw;
		line-height: 2.105vw;
	}
}
.menu__item--click {
	&.active-menu {
		color: #F04E00!important;
	}
}
.submenu__link {
	&.active-menu {
		color: #F04E00!important;
	}
}



.radiobuttons {
	&__item {
		position: relative;
		padding: 0px 0px 0px 38px;
		font-family: 'Styrene A LC';
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 22px;
		color: #000000;
		margin-bottom: 16px;

		cursor: pointer;

		transition: all 0.3s ease 0s;
		@media (max-width: 1900px){
			padding: 0 0 0 2vw;
			font-size: 0.947vw;
			line-height: 1.158vw;
			margin-bottom: 0.842vw;
		}
	}
	&__item.active {
		color: #000;
	}
	&__item.active:after {
		transform: scale(1);
	}
	&__item:before {
		content: '';
		width: 24px;
		height: 24px;
		position: absolute;
		left: 0;
		top: 0;
		background-color: #CFEDFF;
		border-radius: 50%;
		@media (max-width: 1900px){
			width: 1.263vw;
			height: 1.263vw;
		}
	}
	&__item:after {
		position: absolute;
		width: 12px;
		height: 12px;
		left: 6px;
		top: 6px;
		background-color: #ffffff;
		content: '';
		border-radius: 50%;
	
		transition: all 0.3s ease 0s;
	
		transform: scale(0);
		@media (max-width: 1900px){
			width: 0.632vw;
			height: 0.632vw;
			left: 0.316vw;
			top: 0.316vw;
		}
	}
	&__item input {
		display: none;
	}
}



.search {
	height: 40px;
	border: 1px solid #F04E00;
	display: flex;
	align-items: center;
	padding: 10px;
	@media (max-width: 1900px){
		height: 2.105vw;
		border: 0.053vw solid #F04E00;
		padding: 0.526vw;
	}
	&--icon {
		width: 22px;
		height: 22px;
		margin-right: 10px;
		@media (max-width: 1900px){
			width: 1.158vw;
			height: 1.158vw;
			margin-right: 0.526vw;
		}
		img {
			width: 100%;
			height: 100%;
		}
	}

	&--input {
		position: relative;
		padding-left: 6px;
		width: 100%;
		@media (max-width: 1900px){
			padding-left: 0.316vw;
		}
		&::before{
			content:'';
			position: absolute;
			top: 0;
			left: 0;
			width: 1px;
			height: 100%;
			background-color: #EDEDED;
			@media (max-width: 1900px){
				width: 0.053vw;
			}
		}
		input {
			width: 100%;
			font-family: 'Styrene A LC Web';
				font-style: normal;
				font-weight: 400;
				font-size: 16px;
				line-height: 26px;
				display: flex;
				align-items: center;
			color: #000000;
			@media (max-width: 1900px){
				font-size: 0.842vw;
				line-height: 1.368vw;
			}
			&::placeholder {
				
				color: #EDEDED;
			}
		}
	}
}